.cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    align-items: center;
    box-sizing: border-box;
    gap: 20px;
    margin-bottom: 200px;
    .card{
        display: flex;
        flex-direction: column;
        width: 319.83px;
        height: 438px;
        align-items: center;
        background: #F5F5F5;
        box-shadow: 0px 2px 4px 0px #C0C0C080;
        h2{
            font-size: 35px;
            margin-top: 15px;
            margin-bottom: 15px;
            color: black;
        }
        p{
            color: #6F2CFF;
            text-align: center;
            font-weight: 700;
            font-size: 20px;
        }
    }
}
.color{
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

// media
@media (max-width: 768px) {
    .card {
        max-width: 90%;
        min-height: auto;
    }

    .card h2 {
        font-size: 22px;
    }

    .card p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .card {
        max-width: 100%;
    }

    .card h2 {
        font-size: 18px;
    }

    .card p {
        font-size: 12px;
    }
}

@media (max-width: 360px) {
    .card {
        max-width: 100%;
        min-height: auto;
    }

    .card h2 {
        font-size: 16px;
    }

    .card p {
        font-size: 10px;
    }
}